a {
    text-decoration: none;
    color: inherit;
}

.activeLink {
    color: #212529;
}

/*navigationOnTop*/
.navigationOnTop {
    padding: 5px;
    background-color: #588cd7;
    color: white;
    transition: all 0.3s ease;
    height: 35px;
    overflow: hidden;
    text-align: center;
}
.navigationOnTop:hover {
    height: 130px;
}
.navigationOnTop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigationOnTop ul li {
    padding: 5px;
}

/*navigationOnLeft*/
.navigationOnLeft {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: #588cd7;
    color: white;
    transition: all 0.3s ease;
    height: 86px;
    width: 30px;
    overflow: hidden;
    text-align: left;
}
.navigationOnLeft:hover {
    width: 150px;
}
.links {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    line-height: 22px;
}
